<div class="app">
    <div class="app__container">
        <input
                [value]="value"
                (input)="onChange($event)"
                class="app__field"
        >
        <div class="app__sections">
            <div class="app__section" [style.background-color]="sections.first"></div>
            <div class="app__section" [style.background-color]="sections.second"></div>
            <div class="app__section" [style.background-color]="sections.third"></div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>
